header{
    background-color: darkmagenta;
}
.navbar{
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}
.link{
    color:rgb(215, 250, 135);
    font-size: 24px;
    margin: 20px;
    text-decoration: none;
}